//Colours
$clr-blue: hsl(246, 80%, 60%);
$clr-Very-dark-blue: hsl(226, 43%, 10%);
$clr-dark-blue: hsl(235, 46%, 20%);
$clr-desaturated-blue: hsl(235, 45%, 61%);
$clr-pale-blue: hsl(236, 100%, 87%);

//Card banner colours
$clr-work-banner: hsl(15, 100%, 70%);
$clr-play-banner: hsl(195, 74%, 62%);
$clr-study-banner: hsl(348, 100%, 68%);
$clr-exercise-banner: hsl(145, 58%, 55%);
$clr-social-banner: hsl(264, 64%, 52%);
$clr-selfcare-banner: hsl(43, 84%, 65%);

//Fonts
$font-titles: 18px;
$font-family: "Rubik", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;
